<div class="stat-panel <%= name -%>">
	<div class="value"><%= value -%></div>
	<div class="raw">
		<div class="base"><%= value -%></div>
		<div class="add">+0</div>
	</div>
	<div class="name"><%= name.titleize -%></div>
</div>
