<section id="friends" class="padded">
	<% @friendships.each do |friendship| %>
		<% friend = friendship.friend %>
		<%= friend.username %> - Active At <%= friend.active_at || "Unknown" %> <%= "(#{friendship.note})" if friendship.note %><br>
	<% end %>
</section>
