<section class="padded">
	<% if flash[:error] %>
		<div><%= flash[:error] %></div>
	<% end %>
	Home page text comes later.<br><br>
	<u><strong>Test Account</strong></u><br>
	<strong>User</strong> tester01<br>
	<strong>Pass</strong> test01
</section>
