<footer>
	<div class="color-bar"></div>
	<div id="copyright"><div class="bounds">
		Trisphere, code, images, and all related content are property of Lee Miller. &copy; 1999 - <%= Time.now.year %>
	</div></div>
</footer>
