<div id="character-panel">
	
</div>
<div id="stat-bars">
	
</div>
<div class="separator"></div>
<div id="companion">
	
</div>
<div class="separator"></div>
<div id="finance">
	
</div>
<div class="separator"></div>
<div id="navigation">
	
</div>
