<section class="padded">
	<strong class="rarity common">Common</strong><br>
	<strong class="rarity uncommon">Uncommon</strong><br>
	<strong class="rarity rare">Rare</strong><br>
	<strong class="rarity mythic">Mythic</strong><br>
	<strong class="rarity legendary">Legendary</strong><br>
	<strong class="rarity artifact">Artifact</strong><br>
</section>
