<div class="forum-actions cf">
	<div class="buttons"><%= link_to "New Topic", { action: "post", category_id: @category.id }, class: "button" %></div>
	<div class="pagination"><%= will_paginate @topics, pagination_options -%></div>
</div>
