<div class="forum-actions cf">
	<div class="buttons"><%= link_to "Reply", "#post-form", class: "button quick-reply" %></div>
	<div class="pagination"><%= will_paginate @posts, pagination_options -%></div>
</div>