@import "global/utils";

html {
	height: 100%;
	
	body {
		background: #fff;
	}
	
	body, input, textarea {
		font-weight: verdana, sans-serif;
		font-size: 12px;
	}
	
	a, input[type="submit"] {
		text-decoration: none;
		color: #3873ba;
		
		&:visited { color: #b93838; }
		&:hover { color: #baa938; }
		&:active { color: #51ba38; }
	}
	
	input[type="text"], input[type="password"], textarea {
		box-shadow: 0 0 4px #ddd;
		padding: 4px 8px;
		border-radius: 3px;
		
		border: {
			top: 1px solid #ccc;
			left: 1px solid #ccc;
			right: 1px solid #eee;
			bottom: 1px solid #eee;
		}
		
		&:focus {
			outline-color: rgba(0, 0, 255, 0.4);
		}
	}
	
	input[type="submit"], button {
		padding: 4px 8px;
		background: #fafafa;
		border-radius: 3px;
		border: {
			top: 1px solid #eee;
			left: 1px solid #eee;
			right: 1px solid #ccc;
			bottom: 1px solid #ccc;
		}
		font-weight: bold;
		cursor: pointer;
	}
}

header {
	#title-bar {
		background: #2c2c2c;
		height: 30px;
		border-bottom: 1px solid #1e1e1e;
		
		#logo {
			padding: 7px 0px 0px 2px;
		}
		
		#notifications {
			float: right;
		}
	}
	
	nav {
		background: #f1f1f1;
		height: 30px;
		border: {
			top: 1px solid #ffffff;
			bottom: 1px solid #d2d2d2;
		}
		
		.nav-tag {
			padding: 4px 0 4px 28px;
			margin: 2px 16px 0 0;
			background-repeat: no-repeat;
			background-position: 0 0;
			display: inline-block;
			font-size: 15px;
			font-weight: bold;
			color: #666;
			text-shadow: 1px 1px 0 #fff;
			height: 20px;
			
			&.nopad {
				margin-right: 0px;
				padding-left: 22px;
			}
		}
		
		#login {
			padding-top: 4px;
			
			input[type="text"], input[type="password"] {
				padding: 2px 2px;
				margin-right: 3px;
			}
			
			input[type="submit"] {
				padding: 3px 6px 4px 6px;
				color: #ffffff;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
				background-color: #ca3434;
				background-image: linear-gradient(to bottom, #ca3434, #971e1e);
				background-repeat: repeat-x;
  			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  			font-size: 10px;
  			vertical-align: top;
  			box-shadow: inset 0 1px 0 #e97373, 0 0px 1px rgba(0, 0, 0, 0.05);
  			
  			&:hover {
  				box-shadow: inset 0 1px 0 #ffaaaa, 0 0px 1px rgba(0, 0, 0, 0.05);
  				background-color: #e64c4c;
					background-image: linear-gradient(to bottom, #e64c4c, #ca3030);
  			}
  			
  			&:active {
  				box-shadow: inset 0 1px 0 #ffd5d5, 0 0px 1px rgba(0, 0, 0, 0.05);
  				background-color: #f57373;
					background-image: linear-gradient(to bottom, #f57373, #e24d4d);
  			}
  		}
		}
	}
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	
	#copyright {
		background: #2c2c2c;
		height: 15px;
		padding: 2px;
		border-bottom: 1px solid #1e1e1e;
		color: #aaa;
		text-align: center;
	}
}

section {
	&.padded {
		padding: 6px 0;
	}
}

header, footer {
	.color-bar {
		height: 3px;
		background: #ca3434;
		border: {
			top: 1px solid #e97373;
			bottom: 1px solid #691010; 
		}
	}
}

.bounds {
	width: $layout-width;
	margin: 0px auto 0px auto;
}

#sidebar {
	.separator {
		margin: 6px 6px 6px 0;
		height: 1px;
		background: #eee;
	}
}
