@import "global/utils";

// TODO: Make it work outside of chrome dev at some point
html {
	height: 100%;
	
	body {
		background: #fff;
		overflow-y: scroll;
	}
	
	body, input, textarea {
		font-family: verdana, helvetica, sans-serif;
		font-size: 11px;
	}
	
	a, input[type="submit"] {
		text-decoration: none;
		color: #3873ba;
		&:visited { color: #b93838; }
		&:hover { color: #baa938; }
		&:active { color: #51ba38; }
	}
	
	input[type="text"], input[type="password"], textarea {
		box-shadow: 0 0 4px #ddd;
		padding: 4px 8px;
		border-radius: 3px;
		
		border: {
			top: 1px solid #ccc;
			left: 1px solid #ccc;
			right: 1px solid #eee;
			bottom: 1px solid #eee;
		}
		
		&:focus {
			outline-color: rgba(0, 0, 255, 0.4);
		}
	}
	
	input[type="submit"], button {
		@include button;
	}
}

header {
	#title-bar {
		background: #2c2c2c;
		height: 30px;
		border-bottom: 1px solid #1e1e1e;
		
		#logo {
			padding: 7px 0px 0px 2px;
		}
		
		#notifications {
			float: right;
		}
	}
	
	nav {
		background: #f1f1f1;
		height: 30px;
		border: {
			top: 1px solid #ffffff;
			bottom: 1px solid #d2d2d2;
		}
		
		.nav-tag {
			padding: 4px 0 0 28px;
			margin: 2px 12px 0 0;
			background-repeat: no-repeat;
			background-position: 0 0;
			display: inline-block;
			font-size: 14px;
			font-weight: bold;
			color: #666;
			text-shadow: 1px 1px 0 #fff;
			height: 20px;
			
			&.nopad {
				margin-right: 0px;
				padding-left: 22px;
			}
		}
		
		#login {
			padding-top: 4px;
			
			input[type="text"], input[type="password"] {
				padding: 2px 2px;
				margin-right: 3px;
			}
			
			input[type="submit"] {
				padding: 2px 6px 3px 6px;
				color: #ffffff;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
				background-color: #ca3434;
				background-image: linear-gradient(to bottom, #ca3434, #971e1e);
  			border-color: rgba(0, 0, 0, 0.2);
  			font-size: 10px;
  			vertical-align: top;
  			box-shadow: inset 0 1px 0 #e76060, 0 0px 1px rgba(0, 0, 0, 0.05);
  			
  			&:hover {
  				box-shadow: inset 0 1px 0 #ffaaaa, 0 0px 1px rgba(0, 0, 0, 0.05);
  				background-color: #e64c4c;
					background-image: linear-gradient(to bottom, #e64c4c, #ca3030);
  			}
  			
  			&:active {
  				box-shadow: inset 0 1px 0 #ffd5d5, 0 0px 1px rgba(0, 0, 0, 0.05);
  				background-color: #f57373;
					background-image: linear-gradient(to bottom, #f57373, #e24d4d);
  			}
  		}
		}
	}
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	
	#copyright {
		background: #2c2c2c;
		height: 15px;
		padding: 2px;
		border-bottom: 1px solid #1e1e1e;
		color: #aaa;
		text-align: center;
	}
}

#footer-padding {
	height: 48px;
}

section {
	&.padded {
		padding: 6px 0;
	}
}

header, footer {
	.color-bar {
		height: 3px;
		background: #ca3434;
		border: {
			top: 1px solid #e97373;
			bottom: 1px solid #691010; 
		}
	}
}

.bounds {
	width: $layout-width;
	margin: 0px auto 0px auto;
  box-sizing: border-box;
  vertical-align: top;
}

#content {
	#sidebar {
		display: inline-block;
		width: 224px;
		border-right: 1px solid #ddd;
		min-height: 300px;
	  box-sizing: border-box;
	  vertical-align: top;
	  margin-top: 4px;
		
		.separator {
			margin: 6px 6px 6px 0;
			height: 1px;
			background: #eee;
		}
		
		.switch-button {
			color: #fff;
			font-size: 8px;
			font-weight: bold;
			background: #ddd;
			padding: 1px 4px;
			border-radius: 3px;
			cursor: pointer;
			vertical-align: top;
			margin-top: 3px;
			
			&:hover {
				background: #888;
			}
		}
		
		#character-panel {
			margin: 2px 0 6px 0;
			
			#avatar {
				vertical-align: middle;
				float: left;
			}
			
			.row {
				float: right;
				width: 182px;
				margin: 0 3px 2px 0;
			}
			
			#name {
				font-size: 14px;
				font-weight: bold;
				display: inline-block;
			}
			
			#switch {
				margin-right: 4px;
				float: right;
			}
			
			#class {
				font-size: 11px;
				font-weight: bold;
				display: inline-block;
				color: #c46f00;
			}
			
			#classes {
				margin-right: 4px;
				color: #999;
				font-size: 9px;
				font-weight: bold;
				float: right;
			}
			
			#companion {
				margin-right: 4px;
				color: #555;
				font-size: 9px;
				font-weight: bold;
			}
			
			#companion-level {
					margin-right: 4px;
					color: #666;
					font-size: 9px;
					font-weight: bold;
					float: right;
			}
		}
		
		.character-bar {
			border: {
				top: 1px solid #999;
				left: 1px solid #999;
				right: 1px solid #ddd;
				bottom: 1px solid #ddd;
			}
			background: #fff;
			width: 216px;
			height: 17px;
			margin-bottom: 4px;
			position: relative;
			font-size: 10px;
			
			&.short {
				width: 105px;
				float: left;
				margin-right: 4px;
				
				.fill {
					width: 63px;
				}
				
				.unfill {
					width: 103px;
				}
			}
			
			.text, .label {
				position: absolute;
				top: 2px;
				z-index: 15;
				font-weight: bold;
				text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
				color: #fff;
			}
			
			.text {
				right: 4px;
			}
			
			.label {
				left: 16px;
			}
			
			.icon {
				position: absolute;
				top: 4px;
				left: 4px;
				z-index: 15;
			}
			
			.unfill {
				border: {
					top: 1px solid #333;
					bottom: 1px solid #666;
				}
				background: #444;
				width: 214px;
				height: 13px;
				position: absolute;
				top: 1px;
				left: 1px;
				z-index: 5;
			}
			
			.fill {
				position: absolute;
				top: 1px;
				left: 1px;
				height: 13px;
				z-index: 10;
				width: 180px;
				
				&.red {
					background: #a03c3c;
					border: {
						top: 1px solid #a03c3c;
						bottom: 1px solid #a03c3c;
					}
				}
				
				&.blue {
					background: #3c60a0;
					border: {
						top: 1px solid #3c60a0;
						bottom: 1px solid #3c60a0;
					}
				}
				
				&.green {
					background: #4aa03c;
					border: {
						//top: 1px solid #107200;
						top: 1px solid #4aa03c;
						bottom: 1px solid #4aa03c;
					}
				}
				
				&.orange {
					background: #a0793c;
					border: {
						top: 1px solid #a0793c;
						bottom: 1px solid #a0793c;
					}
				}
				
				&.yellow {
					background: #9fa03c;
					border: {
						top: 1px solid #9fa03c;
						bottom: 1px solid #9fa03c;
					}
				}
			}
		}
		
		#companion {
			.icon {
				float: left;
				margin: 3px 0 0 8px;
			}
			
			.row {
				width: 185px;
				margin-left: 36px;
				height: 16px;
			}
			
			.name {
				font-size: 12px;
				font-weight: bold;
			}
			
			.switch {
				margin-right: 4px;
				margin-top: 2px;
				float: right;
			}
			
			.type {
				margin-right: 4px;
				color: #555;
				font-size: 9px;
				font-weight: bold;
			}
			
			.level {
				margin-right: 4px;
				color: #666;
				font-size: 9px;
				font-weight: bold;
				float: right;
			}
		}
		
		#finance {
			.entry {
				font-size: 11px;
				font-weight: bold;
				width: 50%;
				text-align: center;
				float: left;
			}
			
			img {
				position: relative;
				top: 2px;
			}
		}
		
		#navigation {
			.block {
				float: left;
				width: 100px;
				margin-left: 10px;
				
				.header {
					font-weight: bold;
					color: #4c3b00;
					font-size: 12px;
					color: #999;
				}
				
				a {
					display: block;
					margin-top: 6px;
					padding-left: 18px;
					font-size: 11px;
					color: #4c3b00;
					&:visited { color: #4c3b00; }
					&:hover { color: #baa938; }
					&:active { color: #51ba38; }
					
					&:hover {
						background-image: asset-url("images/layout/nav_hover.png");
						background-repeat: no-repeat;
						background-position: 4px 2px;
					}
				}
			}
			
			.navigation-separator {
				height: 8px;
			}
		}
	}
	
	#content-full {
		display: inline-block;
		width: $layout-width;
		box-sizing: border-box;
		vertical-align: top;
	}
	
	#content-column {
		display: inline-block;
		width: $content-width;
		box-sizing: border-box;
		vertical-align: top;
		
		.padded {
			padding: 6px 6px;
		}
	}
}

// Global Utility Classes
// TODO: Perhaps these can go in a separate file

.slotted-bar {
	.title {
		font-weight: bold;
		font-variant: small-caps;
		font-size: 10px;
		
		&:before {
			content: attr(data-name);
			float: left;
			color: #444;
			margin-left: 3px;
		}
		
		&:after {
			content: attr(data-value);
			float: right;
			color: #666;
			margin-right: 4px;
		}
	}
	
	.left {
		background: asset-url("images/bars/slotted/bar_left.png");
		float: left;
		width: 3px;
		height: 10px;
		clear: both;
	}
	
	.middle {
		float: left;
		height: 10px;
		background: asset-url("images/bars/slotted/bar_mid.png");
		position: relative;
		
		.color {
			height: 6px;
			margin: 2px 0 2px 0;
		}
		
		.gradient {
			width: 100%;
			height: 6px;
			margin: 2px 0;
			background: asset-url("images/bars/slotted/bar_gradient.png");
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	
	.right {
		background: asset-url("images/bars/slotted/bar_right.png");
		float: left;
		width: 3px;
		height: 10px;
	}
}

a.button {
		@include button;
		
		&.disabled {
			color: #aaa;
		}
}

// TSML
.tsml {
	&.small {
		font-size: 8px;
	}
	
	&.large {
		font-size: 20px;
	}
	
	&.left {
		text-align: left;
	}
	
	&.center {
		text-align: center;
	}
	
	&.right {
		text-align: right;
	}
	
	&.hr {
		border: {
			top: 1px solid #e6e6e6;
			bottom: 1px solid #f7f7f7;
		}
		margin: 4px 0;
	}
	
	&.quote {
		margin-left: 6px;
		border-left: 4px solid #ddd;
		padding-left: 6px;
		text-align: left;
	}
	
	&.quote-header {
		font-style: italic;
		border-bottom: 1px dotted #ddd;
		color: #777;
		padding-bottom: 2px;
		margin-bottom: 2px;
		text-align: left;
	}
}
