$layout-width: 990px;
$content-width: 765px;

/* Global Helpers */
.float-left { float: left; }
.float-right { float: right; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

/* Link colors */
$link-color: #3873ba;
$link-hover-color: #baa938;
$link-visited-color: #b93838;
$link-active-color: #51ba38;

// Rarity Colors
$common-color-light: #bbb;
$common-color: #999;
$common-color-dark: #666;
$uncommon-color-light: #c5f982;
$uncommon-color: #93db35;
$uncommon-color-dark: #8ab355;
$rare-color-light: #6ea3e8;
$rare-color: #2475de;
$rare-color-dark: #2a66b6;
$mythic-color-light: #b34aff;
$mythic-color: #8f20de;
$mythic-color-dark: #6700b1;
$legendary-color-light: #ff2b2b;
$legendary-color: #f40e0e;
$legendary-color-dark: #d30000;

$font-size-small: 10px;
$font-size-halfsmall: 11px;
$font-size: 12px;
$font-size-halflarge: 14px;
$font-size-large: 16px;

$font-color-light: #ccc;
$font-color-halflight: #aaa;
$font-color: #777;
$font-color-halfdark: #666;
$font-color-dark: #555;

/* Buttons */
@mixin button {
	display: inline-block;
	padding: 4px 8px;
	background: #fafafa;
	border-radius: 3px;
	border: {
		top: 1px solid #eee;
		left: 1px solid #eee;
		right: 1px solid #ccc;
		bottom: 1px solid #ccc;
	}
	box-shadow: inset 0 -1px #ccc;
	font-weight: bold;
	cursor: pointer;
}

// Make an element unselectable
@mixin unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

// Revert to border box sizing
@mixin box-size {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix */
.cf {
	&:before, &:after {
		content: " ";
		display: table;
	}
	
	&:after {
		clear: both;
	}
	
	*zoom: 1;
}