@import "global/utils";

#battle {
	padding: 8px;
	position: relative;
	
	#battle-status {
		@include clearfix;
		
		#player-battler {
			float: left;
		}
		
		#battle-environment {
			padding-top: 4px;
			width: 60px;
			margin: 0 auto;
			text-align: center;
			
			#weather {
				width: 40px;
				height: 40px;
				background: #aaa;
				display: inline-block;
				border-radius: 20px;
			}
		}
		
		#enemy-battler {
			float: right;
		}
	}
	
	#battle-actions, #post-battle-actions {
		.battle-action {
			display: inline-block;
			vertical-align: middle;
			padding: 3px;
			border: 4px solid #aaa;
			border-top-width: 1px;
			border-bottom-width: 1px;
			border-radius: 7px;
			height: 20px;
			cursor: pointer;
			
			&:hover {
				border-color: #666;
			}
			
			&:active {
				border-color: #000;
			}
		}
	}
	
	#battle-log {
		display: block;
		margin: 4px 0;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding: 4px 0;
		height: 102px;
  	overflow: hidden;
		
		&:hover {
	    overflow: auto;
	  }
	}
	
	.battler {		
		.metadata {
			margin-bottom: 2px;
			
			.name {
				font-family: Helvetica, Arial, sans-serif;
				font-size: 12px;
				color: #777;
				font-weight: bold;
			}
			
			.level {
				font-size: 10px;
				color: #bbb;
				float: right;
				
				.value {
					font-size: 12px;
					color: #555;
				}
			}
		}
		
		.status-effects {
			display: none;
			@include box-size;
			border-radius: 6px;
			height: 16px;
			background: #eee;
			color: #bbb;
			text-align: center;
			font-size: 9px;
			padding-top: 2px;
			width: 80px;
			margin: 0 auto;
		}
	}
	
	.bar {
		width: 330px;
		display: block;
		position: relative;
		margin-bottom: 2px;
		
		.label {
			position: absolute;
			top: 0;
			left: 0;
			color: #f00;
			float: left;
			font-size: 11px;
			width: 20px;
			font-weight: bold;
			position: relative;
			top: -1px;
		}
		
		.title {
			 position: absolute;
			 top: 0px;
			 right: 6px;
			 font-size: 9px;
			 font-weight: bold;
			 display: none;
		}
		
		.unfill {
			position: absolute;
			top: 0;
			right: 0;
			width: 308px;
			
			background-color: #eee;
			height: 12px;
			border-radius: 6px;
		
			.fill {
				background-color: #f00;
				height: 12px;
				border-radius: 6px;
			}
		}
		
		&:hover {
			.title {
				display: block;
			}
		}
	}
	
	#battle-complete {
		@include box-size;
		border-radius: 10px;
		padding: 8px;
		position: absolute;
		top: 70px;
		left: 50%;
		margin-left: -200px;
		
		background: rgba(0, 0, 0, 0.5);
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.5)); 
		background:		-moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.5)); 
		background:		 -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.5)); 
		background:			-o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.5)); 
		background:				 linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.5));
		
		.content {
			@include box-size;
			position: relative;
			background: rgba(255, 255, 255, 0.95);
			border-radius: 3px;
			padding: 6px;
			color: #000;
			font-size: 12px;
			font-family: verdana, helvetica, sans-serif;
			width: 400px;
		}
	}
}
