@import "global/utils";

.forum-table {
	border-collapse: separate;
	border-spacing: 2px 0;
	width: 751px;
	margin: 0 7px;
	font-size: 10px;
	
	th {
		font-size: 12px;
		font-weight: bold;
		border: {
			bottom: 1px solid #ddd;
			top: 1px solid #eee;
		}
		padding: 6px 0;
		background: #fafafa;
	}
	
	tr {
		&:hover {
			background: #f8f8ff;
			
			.title {
				text-decoration: underline;
			}
		}
	}
	
	td {
		border-bottom: 1px solid #eee;
		padding: 6px 8px;
	}
	
	.headline {
		display: block;
		width: 360px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

#topics tr {
	td:nth-child(1) {
		width: 20px;
	}
	
	td:nth-child(3) {
		width: 100px;
	}
	
	td:nth-child(4) {
		width: 70px;
	}
	
	td:nth-child(5) {
		width: 100px;
	}
}

.forum-actions {
	margin: 8px 8px 0 8px;
	padding-bottom: 8px;
	
	.buttons {
		float: left;
	}
	
	.pagination {
		float: right;
	}
}

.post-form {
	&.hidden {
		display: none;
	}
	
	.post-content {
		padding: 8px;
		
		input[type="text"], textarea {
			width: 100%;
			box-sizing: border-box;
			margin: 8px 0;
		}
		
		textarea {
			height: 200px;
		}
		
		.post-actions {
			.bold {
				font-weight: bold;
			}
			
			.italic {
				font-style: italic;
			}
			
			.underline {
				text-decoration: underline;
			}
			
			.color em {
				font-style: normal;
				&:nth-child(1) { color: #ff0000; }
				&:nth-child(2) { color: #ffba00; }
				&:nth-child(3) { color: #6cff00; }
				&:nth-child(4) { color: #0084ff; }
				&:nth-child(5) { color: #6600ff; }
			}
		}
		
		.post-submit {
			text-align: center;
			
			input {
				margin: 0 8px;
			}
		}
	}
}

.post {
	margin: 0 8px;
	padding: 8px 0;
	border-bottom: 1px solid #ddd;
	
	&:first-child {
		border-top: 1px solid #ddd;
	}
	
	&.topic {
		background: #fff8f8;
	}
	
	.author {
		width: 120px;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		
		.username {
			font-size: 12px;
			font-weight: bold;
		}
		
		.avatar {
			margin: 2px 0px;
		}
	}
	
	.message {
		color: #222;
		width: 611px;
		padding: 0 4px;
		display: inline-block;
		vertical-align: top;
		
		.header {
			color: #ccc;
			border-bottom: 1px dotted #ccc;
			padding-bottom: 2px;
			margin-bottom: 6px;
			width: 100%;
			position: relative;
			
			.actions {
				display: none;
				position: absolute;
				right: 0px;
				top: -4px;
			}
		}
		
		.content {
			color: #333;
		}
		
		.signature {
			color: #aaa;
			border-top: 1px dotted #ccc;
			padding-top: 2px;
			margin-top: 6px;
			width: 100%;
		}
	}
	
	&:hover {
		background: #fafafa;
		
		.header {
			color: #888;
		}
		
		.actions {
			display: block !important;
		}
	}
}

.pagination {
	span, em, a {
		@include button;
	}
	
	.disabled {
		color: #aaa;
	}
	
	.current {
		color: #fff;
		background: #444;
		font-style: normal;
		box-shadow: inset 0 -1px #000, inset 0 0 1px #fff;
		border: {
			top: 1px solid #555;
			left: 1px solid #555;
			right: 1px solid #555;
			bottom: 1px solid #000;
		}
	}
}

#forum-header {
	margin: 8px 8px 0px 8px;
	padding-bottom: 4px;
	border-bottom: 1px solid #bbb;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
}

.duration {
	&.year { color: $item-color-common; }
	&.month { color: $item-color-common; }
	&.day { color: $item-color-uncommon; }
	&.hour { color: $item-color-rare; }
	&.minute { color: $item-color-mythic; }
	&.second { color: $item-color-legendary; }
}

.light {
	color: #999;
}

.user-tag {
	font-weight: bold;
	
	img {
		position: relative;
		top: 2px;
		margin-right: 2px;
	}
	
	&.large {
		img {
			top: 1px;
		}
	}
}
