<div id="battle" ng-controller="BattleController">
	<div id="battle-status">
		<div id="player-battler" class="battler" ng-show="player">
			<div class="metadata">
				<span class="level">Level <span class="value">{{player.level}}</span></span>
				<span class="name">{{player.name}}</span>
			</div>
			<bar source="player" current="hp" max="hpm" color="#d0363a" label="HP"></bar>
			<bar source="player" current="mp" max="mpm" color="#3686d0" label="MP"></bar>
			<div class="status-effects">NO STATUS</div>
		</div>
		<div id="enemy-battler" class="battler" ng-show="enemy.name">
			<div class="metadata">
				<span class="level">Level <span class="value">{{enemy.level}}</span></span>
				<span class="name">{{enemy.name}}</span>
			</div>
			<bar source="enemy" current="hp" max="hpm" color="#d0363a" label="HP"></bar>
			<bar source="enemy" current="mp" max="mpm" color="#3686d0" label="MP"></bar>
			<div class="status-effects">NO STATUS</div>
		</div>
		<div id="battle-environment">
			<div id="weather"></div>
		</div>
	</div>
	<div id="battle-log">
		<div class="message" ng-repeat="message in log track by $index">{{message}}</div>
	</div>
	<div id="battle-actions">
		<div ng-click="explore()">Explore</div>
		
		<div ng-click="attack()">Attack</div>
	</div>
</div>

<%= content_tag(:span, nil, id: "initial-battler", data: { player: @character_battler }) %>
