<div id="battle" ng-controller="BattleController">
	<div id="in-battle" ng-show="inBattle">
		<div id="battle-status">
			<div id="player-battler" class="battler" ng-show="player">
				<div class="metadata">
					<span class="level">Level <span class="value">{{player.level}}</span></span>
					<span class="name">{{player.name}}</span>
				</div>
				<bar source="player" current="hp" max="hpm" color="#d0363a" label="HP" width="330"></bar>
				<bar source="player" current="mp" max="mpm" color="#3686d0" label="MP" width="330"></bar>
				<div class="status-effects">NO STATUS</div>
			</div>
			<div id="enemy-battler" class="battler" ng-show="enemy.name">
				<div class="metadata">
					<span class="level">Level <span class="value">{{enemy.level}}</span></span>
					<span class="name">{{enemy.name}}</span>
				</div>
				<bar source="enemy" current="hp" max="hpm" color="#d0363a" label="HP" width="330"></bar>
				<bar source="enemy" current="mp" max="mpm" color="#3686d0" label="MP" width="330"></bar>
				<div class="status-effects">NO STATUS</div>
			</div>
			<div id="battle-environment">
				<div id="weather"></div>
			</div>
		</div>
		<log id="battle-log" log="log">
			<div class="message" ng-repeat="message in log track by $index" ng-bind-html-unsafe="message"></div>
		</log>
		<div id="battle-actions" ng-show="inBattle && !complete">
			<div class="battle-action" ng-click="attack()"><%= image_tag "items/demon_heavy_axe.png" %></div><!--
			--><div ng-repeat="skill in player.skills" class="battle-action" ng-click="useSkill(skill)"><%= image_tag nil, { "ng-src" => "images/{{skill.image}}" } %></div><!--
			--><div class="battle-action text-action">Auto</div>
		</div>
		<div id="post-battle-actions" ng-show="inBattle && complete">
			<div class="battle-action text-action" ng-click="explore()">Explore Again</div>
		</div>
	</div>
	<div id="out-battle" ng-show="!inBattle">
		<div ng-click="explore()">Explore</div>
	</div>
	<div id="battle-debug" ng-show="inBattle">
		{{debug}}
	</div>
</div>

<%= content_tag(:span, nil, id: "initial-battler", data: { player: @character_battler }) %>
